/* ШАПКА */
#header{
	height:200px;
	width:950px;
	margin: 0 auto;
	position:relative;
	top:20px;
}

#display{
	height:160px;
	width:940px;
	margin: 0 auto;
	background-image:url("../images/display.png");
	z-index:50;
	position:relative;
	top:28px;
}

#titleBlog{
	width:350px;
	height:30px;
	border-right: 1px solid #626262;
	border-bottom: 1px solid #626262;
	position:relative;
	top:-10px;
	left:580px;
	font: 18px "Myriad Pro","Arial Narrow",Helvetica,Arial,Verdana,sans-serif;
	z-index:0;
	color:#626262;
}

/* ------------------------------- */
