html, body {
    background-color: #FFFFFF;
    height: 100%;
    width: 100%;
}
* {
    border: 0 none;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFFFFF;
    border: 0 none;
    margin: 0;
    min-width: 1000px;
    padding: 0;
}

#bgImage {
    background-color: #FFFFFF;
    background-image: url("../images/bgImage.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    border: 0 none;
    height: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
	-moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}

#content {
	box-shadow: 0 0 10px rgb(10, 30, 100);
	height: 1000px;
	margin: 0 auto;
	position: relative;
	top:120px;
    width: 950px;
}

#all_content {
	background-color: rgba(255,255,255,0.5);
    background-repeat: repeat-y;
    height: 1270px;
}

#logo{
	position:absolute;
	left: 350px;
	top: -120px;
	z-index: 100;
}

#display{
	background-color: #FFFFFF;
    height: 480px;
    left: 10px;
    position: absolute;
    top: 10px;
    width: 930px;
}

#display img{
	box-shadow: 0 0 10px rgb(10, 30, 100);
}

#description{
	width:630px;
	text-align:center;
}

#gamePanel{
	background-color: #FFFFFF;
	height: 480px;
	width: 250px;
	position: absolute;
	left: 650px;
	top: 0;
	
}

#leftSideBar{
	background-color: #FFFFFF;
	position:absolute;
	left: 10px;
	top: 500px;
	width: 650px;
	height: 700px;
}

#rightSideBar{
	background-color: #FFFFFF;
	position:absolute;
	left: 670px;
	top: 500px;
	width: 270px;
	height: 700px;
}



#footer{
	background-color: #FFFFFF;
	position:absolute;
	left: 10px;
	top: 1210px;
	width: 930px;
	height: 50px;
}
#footer h4{
	position: relative;
	left: 300px;
	top: 10px;
	color: #660099;
	width: 400px;
}

#button1{
	position:absolute;
	left: 320px;
	top: -120px;
	z-index: 90;
}

#button2{
	position:absolute;
	left: 290px;
	top: -60px;
	z-index: 90;
}

#button3{
	position:absolute;
	left: 590px;
	top: -120px;
	z-index: 90;
}

#button4{
	position:absolute;
	left: 620px;
	top: -60px;
	z-index: 90;
}


/*------------------------------------------------------*/
#Block1{
	padding-top:15px;
	width:250px;
	height:50px;
	background-color:#FFFFFF;
	text-align:right;
	color:#000000;
	border-bottom: 1px dotted #626262;
	border-left:1px dotted #626262;
}

#Block1 a{
	text-decoration:none;
}

#Block1:hover{	/*при навидении на блок*/
	cursor:pointer;
	text-align:center;
}

#Block1:hover div{	/*при наведении на блок отображается внутренний блок*/
	position:absolute;
	height:480px;
	width:630px;
	cursor:default;
	background-color:#FFFFFF;
	visibility:visible;
	left:-650px;
	top:0;
}

#Block1 div{		/*исходные настройки внутреннего блока*/
	position:absolute;
	height:480px;
	width:630px;
	left:-630px;
	top:0;
	background-color:#FDE6B9;
	visibility:hidden;
}
/*------------------------------------------------------*/

/*------------------------------------------------------*/
#Block2{
	padding-top:15px;
	width:250px;
	height:50px;
	background-color:#FFFFFF;
	text-align:right;
	color:#000000;
	border-bottom: 1px dotted #626262;
	border-left:1px dotted #626262;
}

#Block2 a{
	text-decoration:none;
}

#Block2:hover{	/*при навидении на блок*/
	cursor:pointer;
	text-align:center;
}

#Block2:hover div{	/*при наведении на блок отображается внутренний блок*/
	position:absolute;
	height:480px;
	width:630px;
	cursor:default;
	background-color:#FFFFFF;
	visibility:visible;
	left:-650px;
	top:0;
}

#Block2 div{		/*исходные настройки внутреннего блока*/
	position:absolute;
	height:480px;
	width:630px;
	left:-630px;
	top:0;
	background-color:#FDE6B9;
	visibility:hidden;
}
/*------------------------------------------------------*/


.clear {
    clear: both;
}