*{
	margin:0;
	padding:0;
	border:0;
}

html, body{
	width:100%;
	height:100%;
	background-color:#FFFFFF;
	background-image:url("../images/bgimage.png");
}

/* МЕНЮ */
nav{
	height:40px;
	width:900px;
	background-image:url("../images/bimage.png");
	margin: 0 auto;
	position:relative;
	top:40px;
	box-shadow:0 0 5px rgba(0,0,0,2.5);
	border:1px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}

nav ul{
	padding-top:5px;
	padding-left:100px;
}

nav li{
	display:inline-block;
	list-style:none;
	padding: 5px;
	color:#EFEFEF;
	font: 12px/18px "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
    	text-align: left;
}
/* ------------------------------- */

/* ЛОГОТИП */
#logo{
	height:128px;
	width:128px;
	background-image:url("../images/logo128.png");
	position:absolute;
	left:-50px;
	top:-40px;
}
/* ------------------------------- */


/* ШАПКА */
header{
	height:200px;
	width:950px;
	margin: 0 auto;
	position:relative;
	top:20px;
}

/* ------------------------------- */

/* КОНТЕНТ */
section{
	height:400px;
	width:950px;
	margin: 0 auto;
	background-color:#FFFFFF;
	box-shadow:0 0 10px rgba(0,0,0,2.5);
	border:1px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	position:relative;
	top:20px;
}

#panel1 ul{
	padding-top:5px;
	padding-left:5px;
}

#panel1 li{
	height:50px;
	width:250px;
	display:inline-block;
	list-style:none;
	padding: 10px;
	color:#000000;
	background-color:#E4E4E4;
	background-image:url("../images/color1.png");
	background-repeat:repeat-x;
	background-position:bottom;
	font: 12px/18px "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
    	text-align: left;
}

#panel2 ul{
	padding-top:5px;
	padding-left:5px;
}

#panel2 li{
	height:50px;
	width:250px;
	display:inline-block;
	list-style:none;
	padding: 10px;
	color:#000000;
	background-color:#E4E4E4;
	background-image:url("../images/color1.png");
	background-repeat:repeat-x;
	background-position:bottom;
	font: 12px/18px "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
    	text-align: left;
}

#panel3 ul{
	padding-top:5px;
	padding-left:5px;
}

#panel3 li{
	height:50px;
	width:250px;
	display:inline-block;
	list-style:none;
	padding: 10px;
	color:#000000;
	background-color:#E4E4E4;
	background-image:url("../images/color1.png");
	background-repeat:repeat-x;
	background-position:bottom;
	font: 12px/18px "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
    	text-align: left;
}


/* ------------------------------- */

/* ПОДВАЛ */
footer{
	height:40px;
	width:950px;
	margin: 0 auto;
	padding-top:10px;
	background-color:#FFFFFF;
	box-shadow:0 0 10px rgba(0,0,0,2.5);
	border:1px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	font: 12px/18px "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
    	text-align: center;
	position:relative;
	top:60px;
}
/* ------------------------------- */

