/* ШАПКА */
header{
	height:200px;
	width:950px;
	margin: 0 auto;
	position:relative;
	top:20px;
}

#display{
	height:160px;
	width:940px;
	margin: 0 auto;
	background-image:url("../images/display.png");
	z-index:50;
	position:relative;
	top:28px;
}

#titleBlog{
	width:550px;
	height:45px;
	background-color:#C0C0C0;
	box-shadow:0 0 25px rgba(0,0,0,5.5);
	border:1px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;

	position:relative;
	top:-100px;
	left:110px;
	font: 36px "Myriad Pro","Arial Narrow",Helvetica,Arial,Verdana,sans-serif;
	z-index:100;
	color:#EFEFEF;
}

/* ------------------------------- */
