#slider { 

	/*border-top: 12px solid rgba(19, 67, 71, 0.8);*/
	box-shadow: 0 0 100px rgba(255, 255, 255, 0.3) inset;
	height: 305px;
	/* padding: 0 10%; */
	/*padding-top: 100px;*/
	text-align: left;
	vertical-align: middle;
	width: 100%;
	
	background-attachment: fixed, fixed, fixed, scroll;
    background-clip: border-box;
    background-color: #c8c8c8;
    background-image: url("../images/game_background_crystal2.jpg");
    background-origin: padding-box;
    background-position: 0 0px, 0 0px, -5px -25px, 0 50%;
    background-repeat: repeat, repeat, repeat, no-repeat;
    background-size: auto auto, auto auto, auto auto, cover;
}
